.vscode/*
!.vscode/launch.json
!ArduinoOutput/
!ArduinoOutput
!/ArduinoOutput/*
*.cpp
!/ArduinoOutput/*.hex
!/ArduinoOutput/*.elf
!/ArduinoOutput/*.eep
!/ArduinoOutput/*.a
!/ArduinoOutput/*.o
!/ArduinoOutput/*.d
/ArduinoOutput/*.json
/ArduinoOutput/*.csv
/ArduinoOutput/*.h
/ArduinoOutput/*.cache
/ArduinoOutput/*.bin
/ArduinoOutput/*.lastused
!/ArduinoOutput/*.map
